<!DOCTYPE html>
<meta charset="utf-8">
<% if (typeof title !== 'undefined' && title) { %>
	<title>AppleSause | <%= title %> </title>
<% } else { %>
	<title>AppleSause</title>
<% } %>
<link rel="stylesheet" href="/styles.css">