<!DOCTYPE html>
<div class="profile">
	<a href="/profile/<%= user.username %>">
		<div id="profilepicture">
			<img src="/<%= user.picture_filename %>" alt="Profile Picture">
		</div>
	</a>
	<div id="rating">
		
	</div>
	<div style="clear:both;"></div>
	<a href="/profile/<%= user.username %>">
		<h2 id="name"><%= user.displayname %></h2>
	</a>
</div>