<!DOCTYPE html>
<div class="profile">
	<a href="/profile/<%= owner.username %>">
		<div id="profilepicture">
			<img src="/<%= owner.picture_filename %>" alt="">
		</div>
	</a>
	<a href="/profile/<%= owner.username %>">
		<h3 id="name"><%= owner.displayname %></h3>
	</a>
</div>