<!DOCTYPE html>
<div class="profile">
	<a href="/profile/<%= user.username %>">
		<div id="profilepicture">
			<img src="/<%= user.picture_filename %>" alt="">
		</div>
	</a>
	<a href="/profile/<%= user.username %>">
		<h3 id="name"><%= user.displayname %></h3>
	</a>
</div>