<!DOCTYPE html>
<a href="/favorites"><h3>Favorites</h3></a>
<div class="sidebarposts">
	<div class="sidebarpost"></div>
	<div class="sidebarpost"></div>
</div>
<a href="favorites"><button>All Favorites</button></a>