<!DOCTYPE html>
<div id="topbar">
	<div class="topbar-content">
		<a class="topbar-div-left" href="/help">Help</a>
		<a class="topbar-div-left" href="/">Home</a>
		<% if (typeof user !== 'undefined' && user) { %>
			<a class="topbar-div-right" href="/logout">Log out</a>
			<a class="topbar-div-right" href="/profile">Profile</a>
			<!--
			<a class="topbar-div-right" href="/messages">Messages</a>
			<a class="topbar-div-right" href="/dialogue">Chat</a>
			-->
		<% } else { %>
			<a class="topbar-div-right" href="/login">Log in</a>
			<a class="topbar-div-right" href="/signup">Sign up</a>
		<% } %>
	</div>
</div>
<div class="control">
	<a href="/"><img id="logo" src="/img/logo.png" alt="AppleSause"/></a>
	<button id="categoriesbutton">Categories</button>
	<div id="searchbar">
		<form id="search" onsubmit="return false">
			<input type="text" name="search" placeholder="Search for anything..">
			<button id="searchbutton">Search</button>
		</form>
	</div>
	<a href="/post/create"><button id="createbutton">Create</button></a>
	<div class="categories" style="display: none;">

	</div>
</div>
<script src="/javascript/tag.js"></script>
<script src="/javascript/getCategories.js"></script>
<script src="/javascript/frontendLogic/topbar.js"></script>
