<!DOCTYPE html>
<div id="topbar">
	<div class="topbar-content">
		<a class="topbar-div-left" href="/help">Help</a>
		<a class="topbar-div-left" href="/">Home</a>
		<a class="topbar-div-right" href="/login">Log in</a>
		<a class="topbar-div-right" href="/signup">Sign up</a>
		<a class="topbar-div-right" href="/profile">Profile</a>
		<a class="topbar-div-right" href="/messages">Messages</a>
		<a class="topbar-div-right" href="/dialogue">Chat</a>
	</div>
</div>
<div class="control">
	<a href="/"><img id="logo" src="/img/logo.png" alt="AppleSause"/></a>
	<button id="categoriesbutton">Categories</button>
	<div id="searchbar">
		<input type="text" placeholder="Search for anything..">
		<button id="searchbutton">Search</button>
	</div>
	<a href="/post/create"><button id="createbutton">Create</button></a>
</div>
<script src="/javascript/topbar.js"></script>