{% extends "store/base.html" %}
{% block content %}
	<h3>Posts you've saved</h3>
	<div class="posts">
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
		<div class="post"></div>
	</div>
{% endblock content %}