<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<form class="forminput" id="loginuser" onsubmit="return false">
			
			<h2>Log in</h2>

			<label>Username:</label>
			<div class="forminput" id="username">
				<input type="text" id="username" placeholder="Username">
			</div>

			<label>Password:</label>
			<div class="forminput" id="password">
				<input type="password" id="password" placeholder="Password">
			</div>

			<div>
				<button class="forminput">Log in</button>
				or <a href="/signup">Sign up</a>
			</div>

		</form>
		<script src="/javascript/frontendLogic/login.js"></script>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>