<!DOCTYPE html>
<div class="favorites">
<a href="/favorites"><h3>Favorites</h3></a>
<div class="posts" id="favorites">
	<div class="empty" style="display: none;"><h3>Empty</h3></div>
</div>
<a href="/favorites"><button>All Favorites</button></a>
</div>