<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<form class="forminput" id="createpost" onsubmit="return false">

			<h2>Create post</h2>

			<div>
				<img style="display: none; width: 100%;" id="preview" src=""/>
			</div>

			<label id="choose">Choose picture</label>
			<div id="picture">
				<input type="file" accept=".png, .jpg, .jpeg" id="picture" name="picture"><button type="button" style="display: none;" id="clear">Clear</button>
			</div>

			<label>Title</label>
			<div class="forminput" id="title">
				<input type="text" id="title" placeholder="Title" name="title">
			</div>

			<label>Price</label>
			<div class="forminput" id="price">
				<input type="number" min="0" step="1" id="price" placeholder="Price" name="price">
			</div>

			<label>Description</label>
			<div class="forminput" id="description">
				<textarea type="text" id="description" placeholder="Description" rows=8 
				form="createpost" name="description"></textarea>
			</div>
			
			<label>Address</label>
			<div class="forminput" id="address">
				<textarea type="text" id="address" placeholder="Address" rows=3 name="address"><%= user.address %></textarea>
			</div>

			<label>Category</label>
			<div>
				<select id="category" name="category"></select>
			</div>

			<div>
				<button id="submit" type="button">Submit</button>
			</div>
			
		</form>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/frontendLogic/createpost.js"></script>
</body>
</html>