<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="dialoguepm">
			<div class="messageinput">
				<input type="text" id="message" placeholder="...">
			</div>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>