<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<h3>Posts you've saved</h3>
		<div class="posts">
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
			<div class="post"></div>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>