<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<h3>Random posts for you</h3>
			<div class="posts">

			</div>
		</div>
		<div class="sidebar">
			<!--
			<% if (typeof user !== 'undefined' && user) { %>
				<%- include('./partials/sidebarfavorites.ejs') %>
			<% } %>
			-->
			<%- include('./partials/footer.ejs') %>
		</div>
	</div>
	
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<!--
	<script src="/javascript/getCategories.js"></script>
	<script src="/javascript/getPosts.js"></script>
	<script src="/javascript/getFavoritePosts.js"></script>
	<script src="/javascript/indexPosts.js"></script>
	<script src="/javascript/favoritePostsSide.js"></script>
	-->
</body>
</html>