<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<h3>Random posts for you</h3>
			<div class="posts">
				<div class="empty" style="display: none;"><h3>Empty</h3></div>
			</div>
		</div>
		<div class="sidebar">
			<% if (typeof user !== 'undefined' && user) { %>
				<%- include('./partials/sidebarfavorites.ejs') %>
			<% } %>
			<%- include('./partials/footer.ejs') %>
		</div>
	</div>
	
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/gettingPosts/postGetter.js"></script>
	<% if (typeof user !== 'undefined' && user) { %>
		<script src="/javascript/gettingPosts/favoritePostsSide.js"></script>
	<% } %>
	<script>
		const indexPosts = new postGetter({ 
			postContainer: document.querySelector('.main div.posts'), 
			postParams: { 
				quantity: 6,
				exclude: true,
				shuffle: true
			},
			getPostsMethod: getPosts, 
			makePostMethod: makePost,
			onEmpty: () => {
				document.querySelector('.main div.posts').querySelector("div.empty").style.display = null;
			}
		});
		indexPosts.start();
	</script>
</body>
</html>