<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 

			<div class="h-rand">
				<h3>Random posts</h3>
			</div>

			<div class="h-str" style="display: none;">
				<h3><span>Search results</span></h3>
			</div>

			<div class="h-rand-cat" style="display: none;">
				<h3><span>Random posts in category</span> "<span class="h-rand-cat"></span>"</h3>
			</div>

			<div class="h-str-cat" style="display: none;">
				<h3><span>Search results in category</span> "<span class="h-str-cat"></span>"</h3>
			</div>

			<div class="posts">
				<div class="empty" style="display: none;"><h3>Empty</h3></div>
			</div>
		</div>
		<div class="sidebar">
			<% if (typeof user !== 'undefined' && user) { %>
				<%- include('./partials/sidebarfavorites.ejs') %>
			<% } %>
			<%- include('./partials/footer.ejs') %>
		</div>
	</div>
	
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/gettingPosts/postGetter.js"></script>
	<script src="/javascript/getter.js"></script>
	<% if (typeof user !== 'undefined' && user) { %>
		<script src="/javascript/gettingPosts/favoritePostsSide.js"></script>
	<% } %>
	<script src="/javascript/frontendLogic/index.js"></script>
</body>
</html>