<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<%- include('./partials/profile.ejs') %>
			<h3>Your dialogues</h3>
			<div class="dialogues">
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
			</div>
		</div>
		<div class="sidebar">
			<a href="/favorites"><h3>Favorites</h3></a>
			<div class="sidebarposts">
				<div class="sidebarpost"></div>
				<div class="sidebarpost"></div>
			</div>
			<a href="favorites"><button>All Favorites</button></a>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>