<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<h3>Your dialogues</h3>
			<div class="dialogues">
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
				<div class="dialogue"></div>
			</div>
		</div>
		<div class="sidebar">
			<%- include('./partials/profile.ejs') %>
			<a href="blacklist"><button>User blacklist</button></a>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/getPosts.js"></script>
	<script src="/javascript/favoritePostsSide.js"></script>
</body>
</html>