<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<form class="forminput" id="createuser" name="createuser" onsubmit="return false">

			<h2>Sign up</h2>

			<div style="display: none;" id="profilepicture">
				<img id="preview" src=""/>
			</div>

			<label>Profile picture</label>
			<div>
				<input type="file" accept=".png, .jpg, .jpeg" id="picture" name="picture"><button type="button" style="display: none;" id="clear">Clear</button>
			</div>

			<label>Username</label>
			<div class="forminput" id="username">
				<input type="text" id="username" placeholder="Username" name="username">
			</div>

			<label>Display name</label>
			<div class="forminput" id="displayname">
				<input type="text" id="displayname" placeholder="Display name" name="displayname">
			</div>

			<label>E-mail</label>
			<div class="forminput">
				<input type="text" id="email" placeholder="E-mail" name="email">
			</div>

			<label>Address</label>
			<div class="forminput" id="address">
				<textarea type="text" id="address" placeholder="Address" rows=3 name="address"></textarea>
			</div>

			<label>Password</label>
			<div class="forminput" id="password">
				<input type="password" id="password" placeholder="Password" name="password">
			</div>

			<div>
				<button class="forminput">Sign up</button>
			</div>
			
		</form>
		<script src="/javascript/frontendLogic/signup.js"></script>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>