<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">

		<h3>Sign up</h3>

		<form class="forminput" id="createuser" name="createuser" onsubmit="return false">
			<div>
				<div class="formlabels">
					<h4>Choose your profile picture:</h4>
					<h4>Enter your username:</h4>
					<h4>Enter your display name:</h4>
					<h4>Enter your E-mail:</h4>
					<h4 id="address">Enter your address:</h4>
					<h4>Enter your password:</h4>
				</div>

				<div class="forminputs">
					<input type="file" accept=".png" id="picture" name="picture">

					<div class="forminput" id="username">
					<input type="text" id="username" placeholder="Username" name="username">
					</div>

					<div class="forminput" id="displayname">
					<input type="text" id="displayname" placeholder="Display name" name="displayname">
					</div>
					
					<div class="forminput">
					<input type="text" id="email" placeholder="E-mail" name="email">
					</div>
					
					<div class="forminput" id="address">
					<textarea type="text" id="address" placeholder="Address" rows=3 name="address"></textarea>
					</div>
					
					<div class="forminput" id="password">
					<input type="password" id="password" placeholder="Password" name="password">
					</div>

					<div class="email error"> </div>
				</div>
			</div>
			<div></div>
			<button class="forminput">Sign up</button>
		</form>
		<script src="/javascript/frontendLogic/signup.js"></script>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>