@charset "UTF-8";

:root {
  --as-body-color: #f8f8f8;
  --as-lightgrey: #EEEEEE;
  --as-midgrey: #888888;
  --as-darkgrey: #333333;
  --as-topbar-height: 40px;
  --as-website-width: 960px;
  --as-button-height: 32px;
  --as-radius: 16px;
  --as-orange: #F7931E;
  --as-orange-hover: #F79D34;
  --as-fontsize: 16px;
}

html, body, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--as-body-color)
}

h1, h2, h3, h4 {
  color: var(--as-darkgrey);
}

a {
  color: inherit;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#topbar {
  overflow: hidden;
  width: 100%;
  margin: auto;
  height: var(--as-topbar-height);
  background-color: var(--as-lightgrey);
}

.topbar-content {
  overflow: hidden;
  max-width: var(--as-website-width);
  margin: auto;
  font-size: var(--as-fontsize);
  line-height: var(--as-topbar-height);
  color: var(--as-darkgrey);
}

.topbar-div-left {
  float: left;
  margin-right: 0.7em;
}

.topbar-div-right {
  float: right;
  margin-left: 0.7em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .control {
  padding-top: 60px;
}

img#logo {
  height: 68px;
  float: left;
}

div#searchbar, button, input::file-selector-button, input[type=submit] {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
}

div#searchbar {
  overflow:  visible;
  width: 65%;
  padding-left: 12px;
  color: var(--as-midgrey);
  background-color: white;
  float: right;
  margin-top: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

button, input::file-selector-button, input[type=submit] {
  color: white;
  text-align: center;
  background-color: var(--as-orange);
  cursor: pointer;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
}

input::file-selector-button, input[type=submit] {
  width: auto;
}

.control button {
  width: auto;
  margin-top: 12px;
  float: right;
}

button:hover, input::file-selector-button:hover, input[type=submit]:hover {
  background-color: var(--as-orange-hover);
}

button#searchbutton {
  width: auto;
  margin: -2px -2px 0px 0px;
  border-radius: 0px var(--as-radius) var(--as-radius) 0px;
}

.control input[type=text] {
  flex-grow: 1;
  padding: 0px;
  border: none;
  font-size: var(--as-fontsize);
  color: var(--as-darkgrey);
  line-height: 28px;
  border-width:0px;
  border:none;
  box-shadow: none;
  outline: none;
}

.control {
  overflow: hidden;
  max-width: var(--as-website-width);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--as-body-color);
  display: flex;
  justify-content: space-between;
}

.content, .footer {
  overflow: hidden;
  max-width: var(--as-website-width);
  margin: auto;
  background-color: var(--as-body-color);
}

.footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgrey;
  color: var(--as-midgrey);
}

.main, .sidebar {
  margin: auto;
  float: left;
  box-sizing: border-box;
}

.main {
  width: 75%;
}

.sidebar {
  width: 25%;
  padding-left: 10px;
}

.sidebar button {
  float: left;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
}

.posts {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.sidebarposts {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post {
  float: left;
  width: 230px;
  height: 370px;
  margin: auto;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.post div#image {
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin: 0px;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
  box-sizing: border-box;
}

.post div#content {
  padding-left: 2px;
  padding-right: 2px;
  box-sizing: border-box;
}

.sidebarpost {
  float: left;
  width: 95%;
  height: 150px;
  margin: auto;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

.profile {
  overflow: hidden;
  padding-bottom: 20px;
}

#profilepicture {
  float: left;
  height: 150px; 
  width: 150px; 
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

#rating {
  float: left;
  height:100px; 
  width: 300px;
  margin-top: 50px;
  margin-left: 20px; 
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

#name {
  margin-top: 20px;
}

.dialogues {
  width: 100%;
  margin: auto;
  padding-top: 10px;
}

.dialogue {
  height: 100px;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

.forminput input, .forminput textarea, .messageinput input{
  padding: 0px;
  border: none;
  width: 100%;
  font-size: var(--as-fontsize);
  line-height: 28px;
  border-width:0px;
  border:none;
  box-shadow: none;
  outline: none;
  -moz-appearance: textfield;
}

.forminput textarea {
  resize: none;
}

.forminput input[type=file]{
  width: auto;
  cursor: pointer;
}

.forminput input[type=file]#picture{
  margin-top: 2px;
  margin-bottom: 20px;
}

.forminput input[type=submit]{
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
}

div.forminput {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--as-midgrey);
  background-color: white;
  margin-top: 2px;
  margin-bottom: 20px;
}

div.messageinput {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--as-midgrey);
  background-color: white;
}

form.forminput {
  padding-top: 40px;
  width: auto;
  float:  left;
}

div.formlabels {
  width: fit-content;
  float:  left;
  clear: both;
}

div.forminputs {
  width: fit-content;
  float:  left;
}

.forminputs div#address {
  height: 96px;
}

.forminputs div#description {
  height: 256px;
}

.formlabels h4 {
  height: 32px;
  padding-top: 8px;
  padding-right: 20px;
  margin-top: 2px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.formlabels h4#address {
  height: 96px;
}

.formlabels h4#description {
  height: 256px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.postpage {
  overflow: hidden;
}

.postpage #title {
  float: left;
  margin-bottom: 20px;
}

.postpage #price {
  float: right;
  padding-right: 20px;
}

.postpage #address {
  clear:  both;
}

.postpage h2, h3 {
  margin-top: 10px;
  margin-bottom: 2px;
}

.postpage p {
  font-size: var(--as-fontsize);
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

.postfooter {
  padding-top: 20px;
  margin-bottom: 30px;
  color: var(--as-midgrey);
  display: flex;
  justify-content: left;
}

.postfooter p {
  margin-right: 20px;
}

div.dialoguepm {
  width: 80%;
  height: 700px;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

div.post {
  overflow: hidden;
}