@charset "UTF-8";

:root {
  --as-body-color: #f8f8f8;
  --as-lightgrey: #EEEEEE;
  --as-midgrey: #999999;
  --as-midgrey-hover: #A0A0A0;
  --as-darkgrey: #333333;
  --as-orange: #F7931E;
  --as-orange-hover: #F79D34;
  --as-red: #F05555;
  --as-red-hover: #F66060;
  --as-lightred: #F68585;
  --as-topbar-height: 40px;
  --as-website-width: 960px;
  --as-button-height: 32px;
  --as-radius: 8px;
  --as-fontsize: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--as-body-color)
}

h1, h2, h3, h4 {
  color: var(--as-darkgrey);
}

a {
  color: inherit;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#topbar {
  overflow: hidden;
  width: 100%;
  margin: auto;
  height: var(--as-topbar-height);
  background-color: var(--as-lightgrey);
}

.topbar-content {
  overflow: hidden;
  max-width: var(--as-website-width);
  margin: auto;
  font-size: var(--as-fontsize);
  line-height: var(--as-topbar-height);
  color: var(--as-darkgrey);
}

.topbar-div-left {
  float: left;
  margin-right: 0.7em;
}

.topbar-div-right {
  float: right;
  margin-left: 0.7em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + .control {
  padding-top: 60px;
}

img#logo {
  height: 68px;
  float: left;
}

div#searchbar, button, input::file-selector-button, input[type=submit] {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
}

div#searchbar {
  overflow:  visible;
  width: 65%;
  padding-left: 12px;
  color: var(--as-midgrey);
  background-color: white;
  float: right;
  margin-top: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

button, input::file-selector-button, input[type=submit] {
  color: white;
  text-align: center;
  background-color: var(--as-orange);
  cursor: pointer;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
}

input::file-selector-button, input[type=submit] {
  width: auto;
}

.control button {
  width: auto;
  margin-top: 12px;
  float: right;
}

button:hover, input::file-selector-button:hover, input[type=submit]:hover {
  background-color: var(--as-orange-hover);
}

button.tab {
  border-color: var(--as-midgrey);
  background-color: var(--as-midgrey);
  border-radius: var(--as-radius) var(--as-radius) 0px 0px;
  border-bottom: none;
}

button:hover.tab {
  background-color: var(--as-midgrey-hover);
}

button.tab.active {
  border-color: var(--as-orange);
  background-color: var(--as-orange);;
}

button:hover.tab.active {
  background-color: var(--as-orange-hover);
}

button#searchbutton {
  width: auto;
  margin: -2px -2px 0px 0px;
  border-radius: 0px var(--as-radius) var(--as-radius) 0px;
}

.control input[type=text], .control form {
  flex-grow: 1;
  padding: 0px;
  border: none;
  font-size: var(--as-fontsize);
  color: var(--as-darkgrey);
  line-height: 28px;
  border-width:0px;
  border:none;
  box-shadow: none;
  outline: none;
}

.control form {
  display: flex;
}

.control {
  overflow: hidden;
  max-width: var(--as-website-width);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--as-body-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.control .categories {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:20px;
}

.control .categories div {
  min-width: 20%;
  width: fit-content;
  cursor: pointer;
  text-align: left;
}

.content, .footer {
  overflow: hidden;
  max-width: var(--as-website-width);
  margin: auto;
  background-color: var(--as-body-color);
}

.footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgrey;
  color: var(--as-midgrey);
}

.main, .sidebar {
  margin: auto;
  float: left;
  box-sizing: border-box;
}

.main {
  width: 75%;
}

.sidebar {
  width: 25%;
  padding-left: 10px;
}

.sidebar button {
  float: left;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
}

.posts {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.posts::after {
  flex: auto;
}

.posts.tabbed {
  z-index: 0;
  border-top: 2px solid var(--as-orange);
}

.post {
  box-sizing: border-box;
  margin: 10px 10px 0px 0px;
  width: calc(1/3 * 100% - 10px);
  padding-bottom: 10px;
}

.closed {
  opacity: 60%;
}

.content #favorites .post {
  width: calc(1/4 * 100% - 10px);
}

@media screen and (max-width:800px) {
  .posts .post {
    width: calc(1/2 * 100% - 10px);
  }
  .content #favorites .post {
    width: calc(1/3 * 100% - 10px);
  }
}
@media screen and (max-width: 480px) {
  .posts .post {
    width: calc(100% - 10px);
  }
  .content #favorites .post {
    width: calc(1/2 * 100% - 10px);
  }
}

.sidebar #favorites .post {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.post div#image {
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
  border-radius: var(--as-radius);
  box-sizing: border-box;
  position: relative;
  box-shadow:inset 0px 0px 0px 1px var(--as-lightgrey);
}

.post div#content {
  padding-left: 2px;
  padding-right: 2px;
  box-sizing: border-box;
}

.post a {
  text-decoration: none;
}

.post div#content p {
  padding-top: 5px;
}

.post div#content p#address {
  color: var(--as-midgrey);
}

.profile  {
  overflow: hidden;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.profile a {
  text-decoration: none;
}

.sidebar .profile {
  flex: none;
  display: grid;
}

.sidebar .profile > * {
  margin: auto;
}

#profilepicture {
  height: 150px; 
  width: 150px; 
  border-radius: var(--as-radius);
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  box-shadow:inset 0px 0px 0px 1px var(--as-lightgrey);
}

.rating {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

#profilepicture img, .post div#image img{
  border-radius: var(--as-radius);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.sidebar .profile #profilepicture {
  width: 100px;
  height:  100px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.sidebar .profile #profilepicture img {
  border-radius: 50%;
}

.profileinfo {
  max-width: calc(100% - 150px);
  padding-left: 20px;
  color: var(--as-midgrey);
  word-wrap: break-word;
  box-sizing: border-box;
}

.profileinfo p {
  word-wrap: break-word;
  white-space: initial;
}

.sidebar .profileinfo {
  max-width: 100%;
  padding-left: 0px;
}

.profile button.delete {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar #name {
  margin-top: 0px;
  float:  left;
}

.dialogues {
  width: 100%;
  margin: auto;
  padding-top: 10px;
}

.dialogue {
  height: 100px;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

.forminput input, .forminput textarea, .messageinput input{
  padding: 0px;
  border: none;
  width: 100%;
  font-size: var(--as-fontsize);
  line-height: 28px;
  border-width:0px;
  border:none;
  box-shadow: none;
  outline: none;
  -moz-appearance: textfield;
}

.forminput textarea {
  resize: none;
}

.forminput input[type=file]{
  width: auto;
  cursor: pointer;
}

.forminput input[type=file]#picture{
  margin-top: 2px;
  margin-bottom: 20px;
}

.forminput input[type=submit]{
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
}

div.forminput {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--as-midgrey);
  background-color: white;
  margin-top: 2px;
  margin-bottom: 20px;
}

div.messageinput {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--as-midgrey);
  background-color: white;
}

form.forminput {
  padding-top: 40px;
  width: auto;
  float:  left;
}

div.formlabels {
  width: fit-content;
  float:  left;
  clear: both;
}

div.forminputs {
  width: fit-content;
  float:  left;
}

.forminputs select {
  height: var(--as-button-height);
  line-height: 28px;
  border: 2px solid var(--as-orange);
  border-radius: var(--as-radius);
  box-sizing: border-box;
  font-size: inherit;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--as-darkgrey);
  background-color: white;
  box-shadow: none;
  outline: none;
  -moz-appearance: textfield;
}

.forminputs div#address {
  height: 96px;
}

.forminputs div#description {
  height: 256px;
}

.formlabels h4 {
  height: 32px;
  padding-top: 8px;
  padding-right: 20px;
  margin-top: 2px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.formlabels h4#address {
  height: 96px;
}

.formlabels h4#description {
  height: 256px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.postpage {
  overflow: hidden;
}

.postpage img {
  width: 100%;
}

.postpage #title {
  float: left;
  margin-bottom: 20px;
}

.postpage #price {
  float: right;
  padding-right: 20px;
}

.postpage #address {
  clear:  both;
}

.postpage h2, h3 {
  margin-top: 10px;
  margin-bottom: 2px;
}

.postpage p {
  font-size: var(--as-fontsize);
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

.postfooter {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: var(--as-midgrey);
  display: flex;
  justify-content: left;
  border-bottom: 1px solid lightgrey;
}

.postfooter p {
  margin-right: 20px;
}

div.dialoguepm {
  width: 80%;
  height: 700px;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: var(--as-radius);
}

div.post {
  overflow: hidden;
}

.star-rating {
  width: 0;
  position: relative;
  display:inline-block;
  background-image: url(/img/star_0.svg);
  background-position: 0 0;
  background-repeat: repeat-x;
}

.star-rating .star-value {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/img/star_1.svg') ;
  background-repeat: repeat-x;
}

.star-rating.is-busy {
  cursor: wait;
}

#closed-alert {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--as-lightred);
  margin-bottom: 10px;
  color: white;
}

#closed-alert h2 {
  color: var(--as-darkgrey);
}

button.delete {
  background-color: var(--as-red);
  border-color: var(--as-red);
}

button:hover.delete {
  background-color: var(--as-red-hover);
}